.studentItemContainer{
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin-bottom: 8px;

    .iconContainer {
        min-width: 50px;
        text-align: center;

        .icon {
            cursor: pointer;
        }
    }
}