
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    h1 ,h2 ,h3{
        font-family: 'Montserrat-Bold', sans-serif;
    }

    p {
       font-size: 14px;
       margin: 0; 
       color: rgba(0, 0, 0, 1);
    }

    .main-container{
        display: flex;
        height: 100vh;

        .content-container{
            width: 100%;
            padding: 0 30px;
            background: rgba(248, 248, 248, 1);
            height: max-content;
        }
    }
}