
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    p {
       font-size: 14px;
       margin: 0; 
       color: rgba(0, 0, 0, 1);
    }

    .main-container{
        display: flex;
        height: 100vh;
    }
}